body {
	margin: 0;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	.link-user {
		position: absolute;
		top: 20px;
		left: 20px;
		text-decoration: none;
		color: black;
		span {
			margin-left: 10px;
		}
		.neumorphic {
			box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2),
				-3px -3px 6px 0 rgba(255, 255, 255, 0.2);
			font-size: 1rem;

			border-radius: 30px;
			overflow: hidden;
			display: flex;
			padding: 20px;
		}
		.neumorphic--pressed {
			box-shadow: inset 3px 6px 10px 0 rgba(0, 0, 0, 0.2),
				inset -6px -6px 10px 0 rgba(255, 255, 255, 0.2);
		}

		.variation2 {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.variation2 span {
			display: flex;
			justify-content: center;
			align-items: center;
			/* 		padding-bottom: 1.5rem; */
			position: relative;
			font-size: 1rem;
		}
		.variation2.pressed {
			color: #5ab9ea;
			color: #2f4f4f;
		}
	}
}

* {
	box-sizing: border-box;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 150px;
}

table td,
table th {
	padding: 12px 15px;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 16px;
}

table th {
	background-color: #000e52;
	color: #ffffff;
}

table tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

/*responsive*/

@media (max-width: 800px) {
	table thead {
		display: none;
	}

	table,
	table tbody,
	table tr,
	table td {
		display: block;
		width: 100%;
	}
	table tr {
		margin-bottom: 15px;
	}
	.mobile {
		background-color: rgb(177, 177, 177) !important;
	}
	table td {
		text-align: left;
		/* padding-left: 50%; */
		text-align: left;
		position: relative;
	}
	table td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-size: 15px;
		font-weight: bold;
		text-align: left;
	}
}
